<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.retro.mybatis.SHSMapper.xml">
     <select id="bestList" resultType="com.retro.dto.ProductDTO">
     <![CDATA[
     	SELECT *
		FROM (SELECT * FROM tbl_product 
     	      ORDER BY p_good DESC)
 	    WHERE rownum <= 4
 	  ]]>   
     </select>
     
      <select id="newList" resultType="com.retro.dto.ProductDTO">
     <![CDATA[
     	SELECT *
		FROM (SELECT * FROM tbl_product 
        ORDER BY p_indate DESC)
 	    WHERE rownum <= 4
 	  ]]>   
     </select>

</mapper>